{% comment %}

{% capture html %}
<ul class="kbc-nav-sidebar nav nav-sidebar">
    {% if include.context == "/" %}
        <li class="{% if page.url == "/" %}active{% endif %}">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </li>
    {% endif %}

    {% assign entries = site.pages | sort: "path" %}
    {% for entry in entries %}

        {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
        {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

        {% if current == include.context %}
            <li class="{% if page.url contains entry.url %}active{% endif %}">
                <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                {% include navigation.html context=entry.url %}
            </li>
        {% endif %}

    {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
{% endcomment %}

<ul class="kbc-nav-sidebar nav nav-sidebar">
   <li>
      <a href="/automate/">Automate/Common tasks</a>
      <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
   </li>
   <li>
      <a href="/extend/">Extending KBC</a>
      <ul class="kbc-nav-sidebar nav nav-sidebar">
         <li>
            <a href="/extend/custom-science/">Custom Science</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar">
               <li>
                  <a href="/extend/custom-science/quick-start/">Quick Start</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
               <li>
                  <a href="/extend/custom-science/development/">Development Guide</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
               <li>
                  <a href="/extend/custom-science/r/">Custom Science R</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
               <li>
                  <a href="/extend/custom-science/python/">Custom Science Python</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
            </ul>
         </li>
         <li>
            <a href="/extend/docker/">Docker Extensions</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar">
               <li>
                  <a href="/extend/docker/quick-start/">Docker Extensions Quick start</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
               <li>
                  <a href="/extend/docker/tutorial/">About docker</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar">
                     <li>
                        <a href="/extend/docker/tutorial/setup/">Installation and Running</a>
                        <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
                     </li>
                     <li>
                        <a href="/extend/docker/tutorial/howto/">Howto create a dockerized application</a>
                        <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
                     </li>
                     <li>
                        <a href="/extend/docker/tutorial/automated-build/">Automated build</a>
                        <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
                     </li>
                  </ul>
               </li>
               <li>
                  <a href="/extend/docker/running/">Running Images</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>               
               <li>
                  <a href="/extend/docker/images/">Keboola Images</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>               
            </ul>
         </li>
         <li>
            <a href="/extend/common-interface/">Common interface</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar">
	     <li>
                  <a href="/extend/common-interface/config-file/">Configuration file</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
	     <li>
                  <a href="/extend/common-interface/folders/">Data Folders</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
               <li>
                  <a href="/extend/common-interface/environment/">Environment</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
               <li>
                  <a href="/extend/common-interface/manifest-files/">Manifest files</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
               <li>
                  <a href="/extend/common-interface/sandbox/">Creating Sandbox</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
            </ul>
         </li>         
         <li>
            <a href="/extend/registration/">Component Registration</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar">
               <li>
                  <a href="/extend/registration/checklist/">Submission Checklist</a>
                  <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li>
      <a href="/integrate/">Integrate</a>
      <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
   </li>
   <li>
      <a href="/overview/">KBC Overview</a>
      <ul class="kbc-nav-sidebar nav nav-sidebar">
          <li>
            <a href="/overview/api/">Calling API</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
          </li>          
          <li>
            <a href="/overview/encryption/">Encryption</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
          </li>          
          <li>
            <a href="/overview/docker-bundle/">Docker Bundle</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
          </li>          
          <li>
            <a href="/overview/devel-project/">Development Project</a>
            <ul class="kbc-nav-sidebar nav nav-sidebar"></ul>
          </li>          
      </ul>
   </li>
</ul>