
.docs-search {
  position: relative;
  margin: 0 .15vw;
  padding: 6px;
}

.docs-search input.form-control {
  background: #271758;
  color: #FFF;
  border-color: #14073A;
  box-shadow: inset 0 8px 8px -8px #14073A;
  font-weight: 300;
  padding: 0 0 0 40px;
}

.docs-search .kbc-icon-search {
  position: absolute;
  top: 18px;
  left: 20px;
  color: #625192;
  font-size: 22px;
}

input.st-default-search-input {
  display: block;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

strong {
  font-weight: 700;
}

.nav {
  padding-left: 20px !important;
}

table {
  border: 1px solid black;
}

td, th {
  border: 1px solid black; padding: 4px;
}

h2, h3, h4 {
  font-weight: 700;
}

.kbc-main>.container-fluid {
  padding: 15px;
}

.image-popup {
    display: inline-block;
    margin: 10px;
    border: 2px solid #f5f5f5;
    padding: 10px;
    cursor: pointer;
}

.image-popup img {
    max-width: 500px;
    max-height: 500px;
}

ul.kbc-nav-sidebar li > ul {
    display: none;
}

ul.kbc-nav-sidebar li.active > ul {
    display: block;
}

/*
    override kbc.css defaults
*/

.kbc-logo {
    background: #14073A;
    color: #f5f5f7;
    border-bottom: solid 2px #14073A;
}

.kbc-sidebar {
    background: #413075;
}

a {
    color: #625192;
}

.kbc-nav-sidebar>li>a {
    padding: 8px 12px;
    border-left: solid 2px #413075;
}

a:hover, a:focus {
    color: #625192;
    text-decoration: underline;
}

.kbc-nav-sidebar>li.active>a, .kbc-nav-sidebar>li>a:hover, .kbc-nav-sidebar>li>a:focus {
    border-left: solid 2px #8978c0;
    color: #8978c0;
    background: 0 0;
}
